<!--The content below is only a placeholder and can be replaced.-->
<!-- <mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      Matches
    </ng-template>
    <app-matches></app-matches>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
        <i class="material-icons">
            favorite
            </i>
      Favourites
    </ng-template>
    <app-favourite></app-favourite>

  </mat-tab>

</mat-tab-group> -->

<!-- <app-login-signup></app-login-signup> -->
<router-outlet></router-outlet>
