td.mat-cell{
    padding:16px !important;
}

th.mat-header-cell {
    padding:16px !important;

}

.buttonClicked{
}

.buttonNotClicked{
    color:black;
}

.heartButtonCss:hover,:focus{
    color: red;
}

.mainDiv{
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}



